@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #636B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--app-height);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .splash-container {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .logo {
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .app-name {
    font-size: clamp(64px, 6.5vw, 86px);
    animation: slideIn 1s ease-in-out;
    color: #FFFFFF;
    margin:10px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  